* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 20px 0;
}

.title h1 {
  font-size: 20px;
  font-weight: bold;
  color: #18191a;
}

header input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 4px;
  appearance: none;
  outline: none;
  text-indent: 12px;
  color: #18191a;
  padding: 12px 15px 12px 0;
}

header input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #8f8f8f;
}

.container {
  width: 100%;
  /* float: left; */
  padding: 0 30px;
}

ul.todo {
  width: 100%;
}

ul.todo li {
  width: 100%;
  height: 40px;
  /* padding: 20px 10px; */
  border-bottom: solid 1px #f4f4f4;
  list-style: none;
  font-size: 15px;
  color: #18191a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.complete {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: solid 2px #8f8f8f;
  border-radius: 2px;
  cursor: pointer;
  appearance: none;
  background-color: #fff;
}

button.check {
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
}

button.check:hover svg .fill {
  fill: #ededed;
}

.complete:hover {
  background-color: #ededed;
}

ul.todo li .left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

button.remove {
  border: none;
  appearance: none;
  background: none;
  cursor: pointer;
}

button.remove svg .fill {
  transition: fill 0.2s ease-in;
}

button.remove:hover svg .fill {
  fill: #e95548;
}

ul.todo li button.check {
  display: none;
}

ul.todo#completed li button.complete {
  display: none;
}

ul.todo#completed li button.check {
  display: inline-block;
}

ul.todo#completed:not(:empty):before {
  content: "Completed";
  font-size: 12px;
  width: 100%;
  color: #5f5f5f;
}

ul.todo#completed {
  margin: 25px 0 20px 0;
}
